
M1site/.vs/M1site/FileContentIndex/b6809896-8f96-4e02-85d5-7aab10aad0a9.vsidx

M1site/.vs/M1site/FileContentIndex/d4abe74c-ee6b-4a10-a09b-47462e6ccc96.vsidx

M1site/M1site/obj/Debug/net6.0/M1site.assets.cache
