
M1site/.vs/M1site/FileContentIndex/b6809896-8f96-4e02-85d5-7aab10aad0a9.vsidx

M1site/.vs/M1site/FileContentIndex/d4abe74c-ee6b-4a10-a09b-47462e6ccc96.vsidx

M1site/M1site/obj/Debug/net6.0/M1site.assets.cache
/M1site/.vs/M1site/v17/.suo
/M1site/M1site/obj/Debug/net6.0/M1site.csproj.AssemblyReference.cache
/M1site/M1site/bin/Debug/net6.0/M1site.dll
/M1site/M1site/bin/Debug/net6.0/M1site.exe
/M1site/M1site/bin/Debug/net6.0/M1site.pdb
/M1site/M1site/bin/Debug/net6.0/M1site.staticwebassets.runtime.json
/M1site/.vs/M1site/DesignTimeBuild/.dtbcache.v2
*.vsidx
/M1site/.vs/M1site/FileContentIndex/f4337000-2f0d-4e16-8c68-e3e2e6598337.vsidx
/M1site/.vs/M1site/v17/.futdcache.v2
/M1site/.vs/ProjectEvaluation/m1site.metadata.v7.bin
/M1site/.vs/ProjectEvaluation/m1site.projects.v7.bin
/M1site/M1site/obj/Debug/net6.0/ref/M1site.dll
/M1site/M1site/obj/Debug/net6.0/refint/M1site.dll
/M1site/M1site/obj/Debug/net6.0/staticwebassets/msbuild.M1site.Microsoft.AspNetCore.StaticWebAssets.props
/M1site/M1site/obj/Debug/net6.0/apphost.exe
/M1site/M1site/obj/Debug/net6.0/M1site.assets.cache
/M1site/M1site/obj/Debug/net6.0/M1site.csproj.CoreCompileInputs.cache
/M1site/M1site/obj/Debug/net6.0/M1site.dll
/M1site/M1site/obj/Debug/net6.0/M1site.GeneratedMSBuildEditorConfig.editorconfig
/M1site/M1site/obj/Debug/net6.0/M1site.genruntimeconfig.cache
/M1site/M1site/obj/Debug/net6.0/M1site.pdb
/M1site/M1site/obj/Debug/net6.0/project.razor.vs.json
/M1site/M1site/obj/Debug/net6.0/staticwebassets.build.json
/M1site/M1site/obj/Debug/net6.0/staticwebassets.development.json
/M1site/M1site/obj/Debug/net6.0/staticwebassets.pack.json
/M1site/.vs/M1site/FileContentIndex/0dafbbcb-1ab0-4c62-b539-d46b170ceb5f.vsidx
/M1site/M1site/obj/M1site.csproj.nuget.dgspec.json
/M1site/M1site/obj/M1site.csproj.nuget.g.props
/M1site/M1site/obj/project.assets.json
/M1site/M1site/obj/project.nuget.cache
