
@{
    Layout = "_M1";
}
<div class="top-label">Home</div>
<div class="conten">
    <div class="invoices">
        <h3>Invoices</h3>
        <h1 id="invoices">0</h1>
        <div id="invoinces-indicator-bar" class="positive-indicator-bar"></div>
    </div>
    <div class="total-income">
        <h3>Total Income</h3>
        <h1 id="total-income">0$</h1>
        <div id="total-income-indicator-bar" class="positive-indicator-bar"></div>
    </div>
    <div class="total-spend">
        <h3>Total Spend</h3>
        <h1 id="total-spend">0$</h1>
        <div id="total-spend-indicator-bar" class="positive-indicator-bar"></div>
    </div>
    <div class="total-profit">
        <h3>Total Profit</h3>
        <h1 id="total-profit">0$</h1>
        <div id="total-profit-indicator-bar" class="positive-indicator-bar"></div>
    </div>
</div>
