
@{
    Layout = "_M1";
}
<div class="top-label">Stock</div>
<div class="stock-conten">
    <div class="feature-bar">
        <form class="search-bar">
            <input type="text" id="search-text" />
            <button type="button">Search</button>
        </form>
    </div>
    <table class="stock-data-grid">
        <tr class="stock-data-grid-th">
            <th>Id</th>
            <th>ItemName</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th>Option</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Apple</td>
            <td>12</td>
            <td>PCS</td>
            <td><button class="button">Edit</button></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Banana</td>
            <td>12</td>
            <td>PCS</td>
            <td><button class="button">Edit</button></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Potato</td>
            <td>12</td>
            <td>PCS</td>
            <td><button class="button">Edit</button></td>
        </tr>
    </table>
</div>
