:root{
    --primary-color: rgb(255, 255, 255);
    --normal-text: rgb(136, 136, 136);
    --Important-text: rgb(0, 127, 177);
    --hovered-normal-text: var(--Important-text);
    --hovered-important-text: rgb(0, 162, 226);
    --background-color: rgb(211, 224, 230);
    --important-background-color: var(--Important-text);
    --tex-in-important-background: white;
    --hovered-background-color: var(--Important-text);
    --active-color: rgb(0, 99, 138);
    --positive-color: rgb(0, 255, 0);
    --nagetive-color: red;
    --table-odd-color: rgb(220, 234, 238);

    --normal-text-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    --shadows: 0px 5px 10px rgba(0, 0, 0, 0.247);

    --border-radius: 10px;
}
body {
    font-family: var(--normal-text-font);
    background-color: var(--background-color);
    color: var(--normal-text);
}
a {
    text-decoration: none;
    color: var(--normal-text);
}
.body{
    display: flex;
    flex-direction:row;
    gap: 5px;
    width: 100%;
    height: 100vh;
}
.body div{
    border-radius: var(--border-radius);
    padding: 5px;
}
.Nav{
    background-color: var(--primary-color);
    box-shadow: var(--shadows);
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 15%;
}
.Nav-Item{
    padding: 10px 50px;
    border-radius: 5px;
}
.Nav-Item:hover{
    color: var(--hovered-normal-text);
}
.Nav-Item:active{
    color: var(--active-color);
}

.render{
    width: 85%;
}

.top-label{
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    width: 90%;
    color: var(--Important-text);
    box-shadow: var(--shadows);
    text-align: center;
    font-size: x-large;
    margin-bottom: 20px;
}

.conten{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.positive-indicator-bar{
    height: 5px;
    background-color: var(--positive-color);
}

.invoices{
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    box-shadow: var(--shadows);
    width: 20%;
}
.invoices > h1{
    color: var(--Important-text);
}

.total-income{
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    box-shadow: var(--shadows);
    width: 20%;
}
.total-income > h1{
    color: var(--Important-text);
}

.total-spend{
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    box-shadow: var(--shadows);
    width: 20%;
}
.total-spend > h1{
    color: var(--Important-text);
}

.total-profit{
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    box-shadow: var(--shadows);
    width: 20%;
}
.total-profit > h1{
    color: var(--Important-text);
}

.feature-bar{
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.stock-in-pop{
    display: none;
    position: fixed;
    backdrop-filter: blur(3px);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.stock-in-pop > div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    box-shadow: var(--shadows);
    width: 50%;
    height: 50%;
}
.pop-up input{
    width: 100%;
    height: 30px;
    border: 1px solid var(--normal-text);
    border-radius: var(--border-radius);
}
.pop-up h2,h3{
    color: var(--Important-text);
}

.feature-bar > button{
    background-color: var(--important-background-color);
    box-shadow: var(--shadows);
    border: none;
    border-radius: var(--border-radius);
    color: var(--tex-in-important-background);
}
.feature-bar > button:hover{
    background-color: var(--hovered-important-text);
}
.feature-bar > button:active{
    background-color: var(--active-color);
}

.search-bar{
    background-color: var(--primary-color);
    box-shadow: var(--shadows);
    width: 30%;
    height: 30px;
    border-radius: var(--border-radius);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}
.search-bar > button{
    background-color: var(--important-background-color);
    border: none;
    border-radius: var(--border-radius);
    color: var(--tex-in-important-background);
}
.search-bar > button:hover{
    background-color: var(--hovered-important-text);
}
.search-bar > button:active{
    background-color: var(--active-color);
}
.search-bar > input{
    border: none;
    border-radius: var(--border-radius);
    width: 70%;
    color: var(--normal-text);
}


.stock-conten{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stock-data-grid{
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    border-collapse: collapse;
    box-shadow: var(--shadows);
}
.stock-data-grid th{
    background-color: var(--important-background-color);
    color: var(--tex-in-important-background);
    border-radius: var(--border-radius);
}
.stock-data-grid td{
    text-align: center;
}
.stock-data-grid tr:nth-child(odd){
    background-color: var(--table-odd-color);
}

.button{
    background-color: var(--important-background-color);
    color: var(--tex-in-important-background);
    border: none;
    border-radius: var(--border-radius);
    
    height: 30px;
}
.button:hover{
    background-color: var(--hovered-important-text);
}
.button:active{
    background-color: var(--active-color);
}


  